@charset "utf-8";
/* CSS Document */
a,
img,
button,
input,
textarea {-webkit-tap-highlight-color:rgba(255,255,255,0);}
body {background-color: rgba(255,255,255,1);margin: 0;padding: 0;color: #000;}
/***元素/标签选择器***/
ul, ol, dl {padding: 0;	margin: 0;}
h1, h2, h3, h4, h5, h6, p {	margin-top: 0;padding-right: 15px;padding-left: 15px;}
a img {border: none;}
a:link {color:#414958;}
a:visited {color: #4E5869;}
a:hover, a:active, a:focus, a:visited, a:link {text-decoration: none;}
/*------------------------------------↑标准-样式↑------------------------------------*/
/*------------------------------------↓顶部-样式↓------------------------------------*/
/*.menubar {padding:0;}*/
#top {position:fixed;top:-10px;color:rgba(255,255,255,1);width:100%;min-width:1000px;text-align:center;font-size:1.75em;margin:auto;z-index:5;}
#top a{position:relative;display:inline-block;color:rgba(255,255,255,1);line-height:1.36em;padding:30px 0;}
.topA {width:16%;}
#top a div {display:inline-block;margin:0 auto;height:1.36em;overflow:hidden;margin-bottom:-10px;}
#top a span {position:relative;display:inline-block;color:rgba(255,255,255,1);}
#top a span:hover{margin-top:-42px;}
#top #logoA {width:15%;top:50px;}
#top img {height:90px;width:83px;}
#top, #top a, #top img, #top a span {
	-webkit-transition:all 300ms ease-out;
	-moz-transition:all 300ms ease-out;
	-ms-transition:all 300ms ease-out;
	-o-transition:all 300ms ease-out;
	transition:all 300ms ease-out;}
/*------------------------------------↑顶部-样式↑------------------------------------*/
/*------------------------------------↓中间-样式↓------------------------------------*/
.fullScreen, .bottom {cursor:default;}
.fullScreen {background-color:rgba(255,255,255,1);background-size:cover;background-position:center;text-align:center;vertical-align:central;margin: 0;padding: 0;overflow:hidden;font-size:0.65em;}
.fullScreen .title {}
.fullScreen .hideContent {display:block;font-size:0.35em;line-height:2.0em;padding:2.3em 3em;margin-top:-2em;color:rgba(0, 0, 0, 0);}
.fullScreen .hideContent:hover {color:rgba(0, 0, 0, 0.5);}
#homeDiv {background-image:url(../img/nerd_home.jpg);}
#what {}
#technology {background-image:url(../img/nerd_technology.jpg);}
#report {}
#team {background-image:url(../img/nerd_team.jpg);}
#who {font-size:0.65em;}
/*------------------------------------↑中间-样式↑------------------------------------*/
/*----------------------------------↓中间-内部-样式↓----------------------------------*/
.centreDiv {position:relative;width:100%;text-align:center;top:30%;color:rgba(255,255,255,1);font-size:3em;line-height:2;}
.aboveDiv, .underDiv {position:relative;width:100%;text-align:center;margin:0 auto;color:rgba(0,0,0,0.6);font-size:3em;line-height:1.5;}
.aboveDiv {top:15%;}
.underDiv {top:15%;height:72%;}
.underDiv a {font-size:0.8em;}
.underDiv a:hover {text-decoration:none;}
.centreDiv span, .aboveDiv span, .underDiv span {display:inline-block;padding-left:10px;padding-right:10px;}
/* ~~ 脚注 ~~ */
.bottom {display: block;padding: 10px 0;background-color:rgba(62,62,62,1);text-align:center;color:rgba(209,209,209,1);font-size:0.8em;}
.bottom a {color:rgba(17,252,255,1);text-decoration:none;font-size:1em;}
.bottom span { display:inline-block;}
/*----------------------------------↑中间-内部-样式↑-----------------------------------*/
/*---------------------------------↓who we are-样式↓----------------------------------*/
.personnel {position:relative;display:inline-block;width:370px;height:90%;margin:1.5% 0;cursor: pointer;}
.personnel .picDiv {position:relative;width:300px;height:300px;margin:30px auto 50px;overflow:hidden;
	-moz-border-radius: 150px;      /* Gecko browsers */
	-webkit-border-radius: 150px;   /* Webkit browsers */
	border-radius:150px;            /* W3C syntax */}
.picDiv img {width:100%;height:100%;}
.personnel .nameDiv {color:rgba(65,117,5,0.9);font-size:0.75em;width:100%;text-align:center;line-height:0.5em;margin:0;}
.personnel .nameDiv span {padding:0 4px;}
.personnel .positionDiv {font-size:0.4em;width:100%;text-align:center;height:2em;line-height:2.2em;margin:0;display:inline-block;overflow:hidden;}
.personnel .positionDivCn {color:rgba(0,0,0,0.6);font-size:0.5em;text-align:center;line-height:0.5em;margin:-12px 0 20px 180px; display:none;}
.positionDiv span, .hideContent {position:relative;display:inline-block;
	-webkit-transition:all 300ms ease-out;
	-moz-transition:all 300ms ease-out;
	-ms-transition:all 300ms ease-out;
	-o-transition:all 300ms ease-out;
	transition:all 300ms ease-out;}
.positionDiv span:hover{margin-top:-2.2em;}
/*---------------------------------↑who we are- PC 样式↑-----------------------------------*/
/*-------------------------------------↓ report 样式↓--------------------------------------*/
#who_phone {}
.report_list {display:none;height:100%;width:100%;}
.report_list .report_li{display:block;height:19vw;margin:2vw auto 0;width:86%;}
.report_li .report_li_img {display:block;width:17vw;height:17vw;overflow:hidden;background-size:cover;background-position:center;
	-moz-border-radius: 8.5vw;      /* Gecko browsers */
	-webkit-border-radius: 8.5vw;   /* Webkit browsers */
	border-radius:8.5vw;            /* W3C syntax */}
.report_li_img img{width:100%;height:100%;}
.report_li_txt {font-size:0.5em; line-height:2.2em;text-align:right;color:inherit;margin-top:-15vw;}
/*-------------------------------------↑ report 样式↑--------------------------------------*/
/*-----------------------------------↓#top_inphone 样式↓-----------------------------------*/
#top_inphone {display:none;position:fixed;margin:0 auto;height:70px;width:100px;text-align:center;top:10%;left:50%;margin-left:-50px;overflow:hidden;z-index:10;
	-moz-border-radius: 10px;      /* Gecko browsers */
	-webkit-border-radius: 10px;   /* Webkit browsers */
	border-radius:10px;            /* W3C syntax */
	-webkit-transition:all 600ms ease-in;
	-moz-transition:all 600ms ease-in;
	-ms-transition:all 600ms ease-in;
	-o-transition:all 600ms ease-in;
	transition:all 600ms ease-in;}
#top_inphone:hover {height:150px;background-color:rgba(0,0,0,.5);}
.topB div {color:rgba(255,255,255,1)  !important;}
#logoB {display:inline-block;height:65px;width:60px;margin-top:5px;}
#logoB img {height:65px;width:60px;}