@font-face {
  font-family: 'quicksand-book';
  src: url('fonts/quicksandbook-webfont.eot');
  src: url('fonts/quicksandbook-webfont-.eot#iefix') format('embedded-opentype'),
       url('fonts/quicksandbook-webfont.woff') format('woff'),
       url('fonts/quicksandbook-webfont.ttf') format('truetype'),
       url('fonts/quicksandbook-webfont.svg#quicksandbook') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'quicksand-light';
  src: url('fonts/quicksandlight-webfont.eot');
  src: url('fonts/quicksandlight-webfont-.eot#iefix') format('embedded-opentype'),
       url('fonts/quicksandlight-webfont.woff') format('woff'),
       url('fonts/quicksandlight-webfont.ttf') format('truetype'),
       url('fonts/quicksandlight-webfont.svg#quicksand_lightregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

.eng {
  font-family: 'EB Garamond', serif;
}

body, .contact-title .eng {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "蘋果儷中黑", "Apple LiGothic Medium", "黑體-繁", "Heiti TC Light", "微軟正黑體", "Microsoft JhengHei", "文泉驛正黑", Arial, sans-serif;
}
section>h2 {
  font-family: 'quicksand-book';
}

.year, .month {
  font-family: 'quicksand-light';
}