/* Macbook Pro with Retina Display ----------- */
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {  

header:after {
	background-image: url("images/head-shadow@2x.png");
	background-size: 627px 10px;
}

.portrait-back {
	background-image: url("images/portrait-back@2x.png");
  background-size: 208px 208px;
}

.support .portrait-back {
  background-image: url("images/support-back@2x.png");
  background-size: 208px 208px;
}

}

/* -022873535*/