
html {
  -webkit-font-smoothing: antialiased;
}
/* GENERAL
------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.hide-context {
	display: none;
}

body {
	background: #f6f6f6;
	font-size: 15px;
	line-height: 1.5em;
	-webkit-transition: background .5s .5s;
   -moz-transition: background .5s .5s;
    -ms-transition: background .5s .5s;
     -o-transition: background .5s .5s;
        transition: background .5s .5s;
	/*background: #111;*/
}

.no-js body {
	padding-bottom: 50px;
}

.animator-active body.project-h2-active, .animator-active body.project-h2-actived {
	background: #111;
}

#wrapper {
}

.blink {
	-webkit-transform:translate3d(0,0,0);
}

#inner-wrapper {
  opacity: 0;
	position: relative;
	top: 0;
	z-index: 1;
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
          transform: rotate(-10deg);

}

.no-js #inner-wrapper,
.slow-browser #inner-wrapper {
  opacity: 1;
	-webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
       -o-transform: rotate(0deg);
          transform: rotate(0deg);
}

.animator-active #inner-wrapper {
  opacity: 1;
}

.freeze {
	/*border: 1px dotted red;*/
}

a {
	text-decoration: none;
	color: #b55;
	position: relative;
	display: inline-block;
}

.member-info a:after, .contact-info a:after {
	content: '';
	bottom: 0;
	left: 0;
	width: 0%;
	border-bottom: 2px solid #b55;
	position: absolute;
	-webkit-transition: width .6s ease;
   -moz-transition: width .6s ease;
    -ms-transition: width .6s ease;
     -o-transition: width .6s ease;
        transition: width .6s ease;
}

.member-info a:hover:after, .contact-info a:hover:after {
	width: 100%;
}

.blocks {
	position: relative;
}

.no-js .blocks {
	padding-top: 120px;
}

.blocks h2 {
	font-size: 40px;
	line-height: 40px;
	font-weight: normal;
	font-family: 'quicksand-light';
	text-align: center;
}


/* HEADER
------------------------------------------------------------------------------------------------------------------------------------------------------------*/

header {
	background: #fff;
	padding: 20px 0;
	height: 50px;
	font-size: 15px;
	font-family: 'quicksand-book';
	text-align: center;
	position: fixed;
	z-index: 99;
	top: 0;
	width: 100%;
	-webkit-transition: background 1s, color 1s, height .5s, padding .5s;
   -moz-transition: background 1s, color 1s, height .5s, padding .5s;
    -ms-transition: background 1s, color 1s, height .5s, padding .5s;
     -o-transition: background 1s, color 1s, height .5s, padding .5s;
        transition: background 1s, color 1s, height .5s, padding .5s;
}

.animator-active body.project-h2-active header,
.animator-active body.project-h2-actived header {
	background: #000;
}

.animator-active body.project-h2-active header a,
.animator-active body.project-h2-actived header a {
	color: #fff;
}

#header-shadow {
	background: url("images/head-shadow.png") center no-repeat;
	width: 100%;
	height: 10px;
	position: absolute;
	top: 90px;
	-webkit-transition: top .5s;
   -moz-transition: top .5s;
    -ms-transition: top .5s;
     -o-transition: top .5s;
        transition: top .5s;
}

#main-menu li {
	display: inline-block;
	position: relative;
	top: -22px;
}

#main-menu li#link-home {
	top: 0;
}

#link-home a {
	background: url("images/logo.png");
	background-repeat: no-repeat;
	width: 44px;
	height: 52px;
	display: inline-block;
  margin-right: 10px;
}

.svg #link-home a {
	background-image: url("images/logo.svg");
}

.no-js header,
body.scrolldown-active header,
body.scrolldown-actived header {
	height: 35px;
	padding: 5px 0;
}

.no-js #header-shadow,
body.scrolldown-active #header-shadow,
body.scrolldown-actived #header-shadow {
	top: 45px;
}

.no-js #main-menu li,
body.scrolldown-active #main-menu li,
body.scrolldown-actived #main-menu li {
	top: -15.4px;
}

.no-js #link-home a,
body.scrolldown-active #link-home a,
body.scrolldown-actived #link-home a {
  background-size: 30.8px 36.4px;
	width: 30.8px;
	height: 36.4px;
}

.link-section {
  /*background: red;*/
}

.link-section {
  background: url("images/pagemarker.png") -240px bottom repeat-y;
  -webkit-transition: background .8s;
   -moz-transition: background .8s;
    -ms-transition: background .8s;
     -o-transition: background .8s;
        transition: background .8s;
  display: block;
  position: relative;
  padding: 1px 10px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.link-section.unactive {
  background-position: -240px bottom;
}

.link-section.active {
  background-position: -80px bottom;
}

.link-section.actived {
  background-position: 80px bottom;
}

.link-section:hover {
  background-position: -240px bottom;
  background-color: #acf;
}

.link-section.actived:hover {
  background-position: 80px bottom;
}

/*#link-service a,
#link-team a,
#link-project a,
body.contact-innerwrapper-actived #link-contact a {
	border-bottom: 1px solid #000;
}

.no-js #link-service a,
.no-js #link-team a,
.no-js #link-project a,
.no-js #link-contact a,
body.digital-unactive #link-service a, body.team-actived #link-service a,
body.team-unactive #link-team a, body.project-h2-actived #link-team a,
body.project-h2-unactive #link-project a, body.project-h2-active #link-project a, body.contact-innerwrapper-actived #link-project a {
	border: 0;
}
*/

header a {
	color: #000;
}



/* ASIDE
------------------------------------------------------------------------------------------------------------------------------------------------------------*/

aside {
	text-align: center;
	position: fixed;
/*	width: 200px;
	margin-left: -100px;
	left: 50%;
	bottom: 20px;*/
	left: 20px;
	bottom: 20px;
	z-index: 90;
	text-transform: uppercase;
	font: 12px verdana;
	height: 17px;
}

.no-js aside {
  width: 100%;
  left: 0;
  bottom: 0;
  background: #FFF;
  padding: 10px 0;
  -webkit-box-shadow: #000 0 0 5px;
          box-shadow: #000 0 0 5px;

	-webkit-box-shadow: rgba( 0, 0, 0, .5 ) 0 0 5px;
          box-shadow: rgba( 0, 0, 0, .5 ) 0 0 5px;

}

aside ul { list-style: none; }

aside li {
	display: inline-block;
	margin: 0 5px;
/*	overflow: hidden;*/
}

aside a {
	float: left;
	height: 17px;
	-webkit-transition: color 1s, background-color 1s ;
   -moz-transition: color 1s, background-color 1s ;
    -ms-transition: color 1s, background-color 1s ;
     -o-transition: color 1s, background-color 1s ;
        transition: color 1s, background-color 1s ;
}

#link-facebook a {
	background-image: url("images/fb.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #3b5998;
	-webkit-border-radius: 9px;
	        border-radius: 9px;
	width: 17px;
}

.svg #link-facebook a {
	background-image: url("images/fb.svg");
}

#link-facebook a:hover {
	background-color: #d85373;
}

#link-blog a {
	color: #d85373;
	line-height: 17px;
	font-size: 12px;
	font-family: verdana;
	text-transform: uppercase;
}

#link-blog a:hover {
	color: #3b5998;
}


/* INTRO BLOCK
------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#intro {
	text-align: center;
	color: #999999;
	height: 800px;
	width: 100%;
	position: relative;
/*	border-bottom: 1px solid rgba(2555, 0, 0, .1);*/
}

.no-js #scrolldown {
  height: 140px;
}

.no-js #intro {
  height: 550px;
}

#logotype {
	background: url("images/logotype.png") no-repeat;
	width: 260px;
	height: 130px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
}

.svg #logotype {
	background-image: url("images/logotype.svg");
}

#scrolldown-wrapper {
	height: 200px;
	width: 160px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: 0px;
	margin-top: 100px;
  cursor: pointer;
}

.no-js #scrolldown-wrapper {
  cursor: default;
}



#scrolldown {
	position: relative;
	background: url("images/dots-intro.png") no-repeat center 30px ;
	height: 200px;
}

.svg #scrolldown {
	background-image: url("images/dots-intro.svg");
}

@keyframes UND {
  0% {
  bottom: -25px  }

  30% {
  bottom: -15px  }

  100% {
  bottom: -25px  }

}
@-moz-keyframes UND {
  0% {
  bottom: -25px  }

  30% {
  bottom: -15px  }

  100% {
  bottom: -25px  }

}
@-webkit-keyframes UND {
  0% {
  bottom: -25px  }

  30% {
  bottom: -15px  }

  100% {
  bottom: -25px  }

}
@-o-keyframes UND {
  0% {
  bottom: -25px  }

  30% {
  bottom: -15px  }

  100% {
  bottom: -25px  }

}

#scrolldown-arrow {
	width: 0px;
	margin-left: -17px;
	position: absolute;
	border-top: 17px solid #999999;
	border-left: 17px solid transparent;
	border-right: 17px solid transparent;

	left: 50%;
	bottom: -15px;
}

#scrolldown.unactive #scrolldown-arrow{
	        animation: UND 1.5s ease infinite;
   -moz-animation: UND 1.5s ease infinite;
-webkit-animation: UND 1.5s ease infinite;
     -o-animation: UND 1.5s ease infinite;
}

/* SERVICE BLOCK
------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#service {
  height: 1600px;
}

#service h2 {
	margin: 0;
	position: relative;
}

.animator-active #service h2 {
	-webkit-transition: opacity 0.5s;
   -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
     -o-transition: opacity 0.5s;
        transition: opacity 0.5s;
}

body.scrolldown-unactive #service h2 {
	opacity: 0;
}


#service h2:before,
#team h2:before,
.no-js #project h2:before,
.no-js #contact h2:before  {
  content: '';
  display: inline-block;
  width: 290px;
	border-bottom: 1px solid #000;
	position: relative;
	top: -10px;
	left: -10px;
}

#service h2:after,
#team h2:after,
.no-js #project h2:after,
.no-js #contact h2:after {
  content: '';
  display: inline-block;
  width: 290px;
	border-bottom: 1px solid #000;
	position: relative;
	top: -10px;
	right: -10px;
}

.service-bubbles {
  width: 160px;
  height: 160px;
  position: absolute;
  right: 50%;
  margin-right: -80px;
}


.service-bubbles h3 {
	font-size: 17px;
	font-weight: normal;
	color: #FFF;
	width: 160px;
	height: 160px;
	line-height: 160px;
	text-align: center;
	-webkit-border-radius: 80px;
	        border-radius: 80px;
}

.dots,
.service-title,
.pop {
	position: absolute;
}

.service-title {
	bottom: 0;
}

.pop {
	background: #fff;
	font-size: .8em;
	line-height: 1.5em;
	display: inline-block;
	list-style: none;
	padding: 25px;
	-webkit-border-radius: 8px;
	        border-radius: 8px;

	width: 100%;
	/*visibility: hidden;*/
	/*opacity: 0;*/
}

.animator-active .pop {
  opacity: 0;
	-webkit-transition: opacity 1s;
   -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
     -o-transition: opacity 1s;
        transition: opacity 1s;
}

.animator-active .pop.actived {
	opacity: 1;
}

.pop li:before {
	content: '• ';
}

.pop:before {
	position: absolute;
	content: '';
}

.pop-right:before {
	border-top: 19px solid transparent;
	border-bottom: 19px solid transparent;
	border-right: 19px solid #fff;
	left: -19px;
	top: 35px;
}

.pop-left:before {
	border-top: 19px solid transparent;
	border-bottom: 19px solid transparent;
	border-left: 19px solid #fff;
	right: -19px;
	top: 35px;
}

.pop-top:before {
	border-left: 19px solid transparent;
	border-right: 19px solid transparent;
	border-top: 19px solid #fff;
	bottom: -19px;
	right: 40px;
}

.pop-bottom:before {
	border-left: 19px solid transparent;
	border-right: 19px solid transparent;
	border-bottom: 19px solid #fff;
	top: -19px;
	left: 40px;
}


#digital {
	height: 340px;
	background: url("images/dots-green.png") no-repeat center 1px;
	top: 130px;
}

.no-js #digital { top: 180px;}

.svg #digital {
	background-image: url("images/dots-green.svg");
}
	#digital h3 {
		background: #768b6d;
	}

	#digital .pop {
		color: #768b6d;
		left: 190px;
		bottom: 65px;
		width: 200px;
	}

	.dots-center {
		margin-left: 76px;;
	}


#activity {
  height: 380px;
	background: url("images/dots-blue.png") no-repeat center 1px;
	top: 550px;
	margin-right: -30px;
}

.svg #activity {
	background-image: url("images/dots-blue.svg");
}

	#activity h3 {
		background: #64b6c8;
	}

	#activity .pop {
		color: #64b6c8;
		left: -250px;
		bottom: 80px;
	}

#video {
	height: 490px;
	background: url("images/dots-yellow.png") no-repeat center 1px;
	top: 700px;
	margin-right: -160px;
}

.svg #video {
	background-image: url("images/dots-yellow.svg");
}

	#video h3 {
		background: #ffb525;
	}

	#video .pop {
		color: #ffb525;
		bottom: 100px;
		left: 200px;
		width: 130px;
	}

#internet {
	height: 330px;
	width: 195px;
  background: url("images/dots-red.png") no-repeat right 5px;
	top: 1010px;
	margin-right: 40px;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
}

.animator-active #internet {
  background-image: url("images/dots-red.svg");
}

	#internet h3 {
		background: #a25454;
		bottom: -160px;
		left: -130px;
		/*visibility: hidden;*/
	}

	#internet .pop {
		color: #a25454;
		left: -250px;
		bottom: 50px;
		width: 200px;
	}

#media-buying {
  max-width: 620px;
  background: url("images/dots-navy.png") no-repeat 6px center;
	top: 1335px;
	left: 50%;
	margin-left: -50px;
}

.no-js #media-buying {
	width: 40%;
}

.svg #media-buying {
  background-image: url("images/dots-navy.svg");
}

	#media-buying h3 {
		background: #8cb2ba;
		right: 0;
	}

	#media-buying .pop {
		color: #8cb2ba;
		top: 200px;
		right: -72px;
		width: 160px;
	}

.animator-active #dots-gray {
	content: '';
	display: block;
	width: 435px;
	height: 8px;
	background: url("images/dots-gray.png") 6px 0 no-repeat;
	position: absolute;
	left: 650px;
	top: 77px;
}

.svg .animator-active #dots-gray {
	background: url("images/dots-gray.svg") 6px 0 no-repeat;
}

/* TEAM BLOCK
------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#intro, #service {
	/*display: none;*/
}

.animator-active #team {
	position: relative;
	top: -365px;
	left: 1590px;
  z-index: 2;
}

.animator-active #team h2 {
	position: relative;
	left: -390px;
}

.member {
	position: relative;
	max-width: 1000px;
	min-width: 400px;
	margin: 80px auto;
}

.member:after {
	content: '';
	display: block;
	clear: both;
}

.animator-active .member {
	width: 80%;
	margin: 40px auto 0;
	z-index: 1;
}

.animator-active #member-gisele { left: 248px; }
.animator-active #member-andy    { left: 496px; }
.animator-active #member-egg    { left: 744px; }

.animator-active #member-ian,
.animator-active #member-wawa,
.animator-active .support,
.animator-active .rookie  { margin-bottom: 140px; left: 496px; }


.portrait {
  width: 208px;
  height: 208px;
  position: relative;
  float: left;
}

.portrait-back {
	content: "";
	position: absolute;
	display: block;
	left: 0px;
	top: 0;
	width: 208px;
	height: 208px;
	background: url("images/portrait-back.png") 0 0 no-repeat;
  background-size: 208px 208px;
  opacity: 0;
	-webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
     -o-transition: all 0.5s;
        transition: all 0.5s;
	-webkit-transform: rotateY( 0deg );
     -moz-transform: rotateY( 0deg );
      -ms-transform: rotateY( 0deg );
       -o-transform: rotateY( 0deg );
          transform: rotateY( 0deg );

}


.support .portrait-back {
  background-image: url("images/support-back.png");
}

#member-sliiice .portrait-back {
  background-image: url("images/sliiice-back.png");
}

.svg #member-sliiice .portrait-back {
  background-image: url("images/sliiice-back.svg");
}


.portrait img {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 1;
	-webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
     -o-transition: all 0.5s;
        transition: all 0.5s;
  -webkit-transform: rotateY( 0deg );
     -moz-transform: rotateY( 0deg );
      -ms-transform: rotateY( 0deg );
       -o-transform: rotateY( 0deg );
          transform: rotateY( 0deg );

}

/*  cover  */
.member.unactive .portrait-back {
	opacity: 1;
	-webkit-transform: rotateY( 180deg );
     -moz-transform: rotateY( 180deg );
      -ms-transform: rotateY( 180deg );
       -o-transform: rotateY( 180deg );
          transform: rotateY( 180deg );

}
.member.unactive .portrait img {
	opacity: 0;
  -webkit-transform: rotateY( 180deg );
     -moz-transform: rotateY( 180deg );
      -ms-transform: rotateY( 180deg );
       -o-transform: rotateY( 180deg );
          transform: rotateY( 180deg );
}

.member-name {
	position: absolute;
	color: #000;
	text-align: center;
	width: 200px;
	height: 50px;
	padding: 75px 0;
	left: 6px;
	top: 130px;
	z-index: 2;
}

.member-name .hide-context {
  display: inline;
}

.animator-active .member-name {
  top: 150px;
	-webkit-transition: top .5s, color 0.5s;
   -moz-transition: top .5s, color 0.5s;
    -ms-transition: top .5s, color 0.5s;
     -o-transition: top .5s, color 0.5s;
        transition: top .5s, color 0.5s;
}
	.eng {
		font-size: 25px;
		line-height: 25px;
    margin-bottom: 10px;
		font-weight: normal;
		letter-spacing: .03em;
	}

	.chn {
		font-size: 15px;
		line-height: 15px;
	}

.member.unactive .member-name {
	top: 0;
	color: #fff;
}

.member.unactive .member-name .hide-context {
  display: none;
}

.member-info {
	margin-left: 250px;
}

	.exp {
		color: #81afc2;
		font-size: 12px;
		margin-left: 5px;
	}

	.title {
		display: inline-block;
	}

	.cv {
		margin-bottom: 1em;
	}

#member-wawa .member-info,
.rookie .member-info,
.support .member-info {
	padding-top: 70px;
}


.animator-active #member-sliiice.unactive {

}

.animator-active #member-sliiice {
	-webkit-transform-origin: 104px 104px;
     -moz-transform-origin: 104px 104px;
      -ms-transform-origin: 104px 104px;
       -o-transform-origin: 104px 104px;
          transform-origin: 104px 104px;
  /*-webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
*/
}

#member-sliiice .portrait {
	cursor: pointer;
  -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
       -o-transform: rotate(0deg);
          transform: rotate(0deg);
}

#member-sliiice .portrait img {
	z-index: 1;
}

  #sliiice-line, #member-sliiice .portrait a {
  	position: absolute;
  	width: 146px;
  	height: 146px;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  	left: 31px;
  	top: 31px;
  }

  #member-sliiice .portrait a {
  	display: block;
  	z-index: 2;
  }

	#member-sliiice.unactive #sliiice-line span {
		width: 0;
		height: 0;
		border-color: #000;
	-webkit-transition: all 1s 0s ease;
   -moz-transition: all 1s 0s ease;
    -ms-transition: all 1s 0s ease;
     -o-transition: all 1s 0s ease;
        transition: all 1s 0s ease;
	}

  #sliiice-line span {
  	position: absolute;
  	border-color: #6292a4;
	-webkit-transition: all 1s .5s ease;
   -moz-transition: all 1s .5s ease;
    -ms-transition: all 1s .5s ease;
     -o-transition: all 1s .5s ease;
        transition: all 1s .5s ease;
  }

  #member-sliiice .portrait:hover #sliiice-line span {
	-webkit-transition: all 1s 0s ease;
   -moz-transition: all 1s 0s ease;
    -ms-transition: all 1s 0s ease;
     -o-transition: all 1s 0s ease;
        transition: all 1s 0s ease;
  	border-color: #666;
  	border-width: 100px;
  }

  #sliiice-line-left {
  	left: 0;
  	bottom: 0;
  	height: 100%;
  	border-left: 5px solid;
  }

  #sliiice-line-top {
  	left: 0;
  	top: 0;
  	width: 100%;
  	border-top: 5px solid;
  }

  #sliiice-line-right {
  	right: 0;
  	top: 0;
  	height: 100%;
  	border-left: 5px solid;
  }

  #sliiice-line-bottom {
  	right: 0;
  	bottom: 0;
  	width: 100%;
  	border-bottom: 5px solid;
  }

#member-sliiice .member-info {
	padding-top: 30px;
}

.haha {
	font-size: 0.7em;
}

/* PROJECT BLOCK
------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.year {
	font-size: 50px;
	line-height: 50px;
}

.no-js .year {
  display: block;
  position: absolute;
  top: 20px;
  left: 60px;
}

.month {
	font-size: 50px;
  line-height: 50px;
}

.no-js .month {
	position: absolute;
	left: -110px;
	top: 60px;
	font-size: 30px;
}

.no-js .year-wrapper {
	border-top: 1px dotted #ccc;
	position: relative;
	padding: 10px 0;
}

.no-js .year-wrapper:first-of-type {
	border: none;
}

.no-js .month-wrapper {
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
}

.no-js .month-wrapper:after {
	content: '';
	display: block;
	clear: both;
}

.no-js .projects {
	position: relative;
	max-width: 500px;
	margin: 10px 0;
	float: left;
}

.no-js .projects img {
	float: left;
	background: #000;
}

.no-js .project-info {
  margin-left: 270px;
  padding-right: 5px;
}

.animator-active #project {
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
	left: 3180px;
	top: -684px;
	z-index: 1;
}


.animator-active #project h2 {
	position: absolute;
	width: 500px;
	left: -750px;
	line-height: 75px;
	letter-spacing: .5em;

	-webkit-transition: opacity 1s, left 1s, color 1s 1s;
   -moz-transition: opacity 1s, left 1s, color 1s 1s;
    -ms-transition: opacity 1s, left 1s, color 1s 1s;
     -o-transition: opacity 1s, left 1s, color 1s 1s;
        transition: opacity 1s, left 1s, color 1s 1s;
  opacity: 1;
  color: #fff;
}

.animator-active #project h2.unactive {
	left: -830px;
	opacity: 0;
	color: #000;
}

.animator-active #triangle-head {
	position: absolute;
	left: -740px;
	width: 1000px;
	height: 150px;
	background: url("images/triangle-head.png") 0 0 no-repeat;

	        background-size: 1000px 150px;

	-webkit-transition: width 1s ease-out;
   -moz-transition: width 1s ease-out;
    -ms-transition: width 1s ease-out;
     -o-transition: width 1s ease-out;
        transition: width 1s ease-out;
}

.animator-active.svg #triangle-head {
	background-image: url("images/triangle-head.svg");
}

.animator-active #triangle-head.unactive {
	-webkit-transition: width .5s ease-out;
   -moz-transition: width .5s ease-out;
    -ms-transition: width .5s ease-out;
     -o-transition: width .5s ease-out;
        transition: width .5s ease-out;
	width: 0;
}


.animator-active .year-wrapper {
	float: left;
	display: inline;
	margin-left: 250px;
	position: relative;
	opacity: 1;
	-webkit-transition: opacity 1s ;
   -moz-transition: opacity 1s ;
    -ms-transition: opacity 1s ;
     -o-transition: opacity 1s ;
        transition: opacity 1s ;
}

.animator-active body.project-h2-unactive .year-wrapper {
	opacity: 0;
}

.animator-active .year {
	position: absolute;
	left: -250px;
	color: #81afc2;
	width: 250px;
	height: 150px;
	text-align: center;
	line-height: 150px;
	background: #000;
	background: url("images/project-back.png") no-repeat;
	background-position: -700px 0;
  background-size: 1050px 150px;
  -webkit-transition: background-position 1s ease;
   -moz-transition: background-position 1s ease;
    -ms-transition: background-position 1s ease;
     -o-transition: background-position 1s ease;
        transition: background-position 1s ease;
}

.animator-active.svg .year {
	background-image: url("images/project-back.svg");
}

.animator-active .year.unactive {
	background-position: -1050px 0;
}

.animator-active #project-innerwrapper .year-wrapper:first-child .year {
	background: transparent;
}

.animator-active .month-wrapper {
	float: left;
	position: relative;
}

.animator-active .month {
	position: absolute;
	width: 250px;
	padding: 0 50px;
	text-align: center;
	top: -1em;
	margin-top: -20px;
	color: #d38d8d;
}

/* hide */
.animator-active .projects {
	width: 250px;
	padding: 0 50px;
	float: left;
	line-height: 0;
	position: relative;
	background: url("images/project-back.png") no-repeat;
	background-position: -1050px 0;
  background-size: 1050px 150px;

	-webkit-transition: background-position 1s ease;
   -moz-transition: background-position 1s ease;
    -ms-transition: background-position 1s ease;
     -o-transition: background-position 1s ease;
        transition: background-position 1s ease;
}

.animator-active.svg .projects {
	background-image: url("images/project-back.svg");
}


/* active */
.animator-active .projects.active {
	background-position: -350px 0;
}

.animator-active .projects.actived {
	background-position: left 0;

}

/* default */
.animator-active #project.active .projects.unactive {
	background-position: -700px 0;
	-webkit-transition: background-position 1s 1s ease;
   -moz-transition: background-position 1s 1s ease;
    -ms-transition: background-position 1s 1s ease;
     -o-transition: background-position 1s 1s ease;
        transition: background-position 1s 1s ease;

}

.animator-active .projects img {
  cursor: pointer;
}

.ui-draggable {
	cursor: url("images/draggable.gif"), auto;
}

.ui-draggable-dragging {
	cursor: url("images/dragging.gif"), auto;
	opacity: 0.5;
}

.animator-active .projects .project-info {
	position: relative;
	color: #fff;
	z-index: 1;
	opacity: 0.3;
	line-height: 1.8em;
	letter-spacing: .1em;
	-webkit-transition: opacity 1s;
   -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
     -o-transition: opacity 1s;
        transition: opacity 1s;
}

.animator-active .projects .project-info.vertical {
	width: 500px;
	height: 6.6em;
	padding: 5px;
	top: 240px;
	left: -140px;
	-webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
	-webkit-transform-origin: 50% 50%;
     -moz-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
       -o-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.animator-active .projects.active .project-info {
	opacity: 1;
}

.animator-active .projects .project-title {
	color: #e79a9a;
}

.animator-active .projects .project-info.ui-draggable-dragging {
	opacity: 0.5;
}

.animator-active .project-info.vertical .char-chn {
	-webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
	-webkit-transform-origin: 50% 50%;
     -moz-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
       -o-transform-origin: 50% 50%;
          transform-origin: 50% 50%;

	display: inline-block;
}

.animator-active .project-info.vertical .char-eng {
	position: relative;
	top: 2px;
}


.project-info.vertical2 {
  width: 5em;
  -ms-word-break: break-all;
      word-break: break-all;
  top: 20px;
  left: 50%;
  margin-left: -3.5em;
}

.project-info.vertical2 h3 ,
.project-info.vertical2 p {
	line-height: 0em;
  letter-spacing: 0em;
	width: 0;
	position: absolute;
}

.project-info.vertical2 span {
  line-height: 1em;
  text-align: right;
}

.project-info.vertical2 span.char-eng {
	display: inline-block;
	position: relative;
	-ms-word-break: normal;
	    word-break: normal;
	-webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
	-webkit-transform-origin: 0 0;
     -moz-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
       -o-transform-origin: 0 0;
          transform-origin: 0 0;
	left: 1em;
	margin-top: 5px;
}
.project-info.vertical2 span.char-eng:first-child {
	margin-top: 0;
}
.project-info.vertical2 .project-title span.char-eng {
	padding-bottom: 5px;
}

.project-info.vertical2 .project-title  { right: 0; }
.project-info.vertical2 .project-client { right: 2em; }
.project-info.vertical2 .project-desc   { right: 4em; }


.animator-active .project-thumb { display: none; }

/* SHOWROOM
------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#overlay {
	position: fixed;
	width: 40%;
	height: 40%;
	top: 30%;
	left: 30%;
	background: #333;
	background: rgba(0, 0, 0, .9);
	z-index: 0;
  opacity: 0;
  -webkit-transition: width 1s .5s, height 1s .5s, top 1s .5s, left 1s .5s, opacity 1s .5s, z-index 0s 1.5s;
   -moz-transition: width 1s .5s, height 1s .5s, top 1s .5s, left 1s .5s, opacity 1s .5s, z-index 0s 1.5s;
    -ms-transition: width 1s .5s, height 1s .5s, top 1s .5s, left 1s .5s, opacity 1s .5s, z-index 0s 1.5s;
     -o-transition: width 1s .5s, height 1s .5s, top 1s .5s, left 1s .5s, opacity 1s .5s, z-index 0s 1.5s;
        transition: width 1s .5s, height 1s .5s, top 1s .5s, left 1s .5s, opacity 1s .5s, z-index 0s 1.5s;
}

/*#overlay,*/
#overlay.active {
	width: 80%;
	height: 80%;
	top: 10%;
	left: 10%;
	opacity: 1;
	z-index: 2;
	-webkit-transition: width 1s, height 1s, top 1s, left 1s, opacity 1s;
   -moz-transition: width 1s, height 1s, top 1s, left 1s, opacity 1s;
    -ms-transition: width 1s, height 1s, top 1s, left 1s, opacity 1s;
     -o-transition: width 1s, height 1s, top 1s, left 1s, opacity 1s;
        transition: width 1s, height 1s, top 1s, left 1s, opacity 1s;

}

#showroom {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	z-index: 0;
	opacity: 0;
	cursor: default;
	-webkit-transition: z-index 0s .5s, opacity .5s;
   -moz-transition: z-index 0s .5s, opacity .5s;
    -ms-transition: z-index 0s .5s, opacity .5s;
     -o-transition: z-index 0s .5s, opacity .5s;
        transition: z-index 0s .5s, opacity .5s;
}

#showroom.active {
	z-index: 3;
	opacity: 1;
	cursor: pointer;
	-webkit-transition: z-index 0s, opacity .5s;
   -moz-transition: z-index 0s, opacity .5s;
    -ms-transition: z-index 0s, opacity .5s;
     -o-transition: z-index 0s, opacity .5s;
        transition: z-index 0s, opacity .5s;
}


@keyframes move {
  0% {
  margin-left: -5px  }

  25% {
  margin-left: -25px  }

  50% {
  margin-left: -5px  }

  75% {
  margin-left: 15px  }

  100% {
  margin-left: -5px  }

}
@-moz-keyframes move {
  0% {
  margin-left: -5px  }

  25% {
  margin-left: -25px  }

  50% {
  margin-left: -5px  }

  75% {
  margin-left: 15px  }

  100% {
  margin-left: -5px  }

}
@-webkit-keyframes move {
  0% {
  margin-left: -5px  }

  25% {
  margin-left: -25px  }

  50% {
  margin-left: -5px  }

  75% {
  margin-left: 15px  }

  100% {
  margin-left: -5px  }

}
@-o-keyframes move {
  0% {
  margin-left: -5px  }

  25% {
  margin-left: -25px  }

  50% {
  margin-left: -5px  }

  75% {
  margin-left: 15px  }

  100% {
  margin-left: -5px  }

}

#loading {
	background: #d85373;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top:  -5px;
	margin-left: -5px;
	width:       10px;
	height:      10px;
	-webkit-border-radius: 5px;
	        border-radius: 5px;

	opacity: 0;

	        animation: move 3s ease infinite;
   -moz-animation: move 3s ease infinite;
-webkit-animation: move 3s ease infinite;
     -o-animation: move 3s ease infinite;
	-webkit-transition: opacity .5s 1.5s;
   -moz-transition: opacity .5s 1.5s;
    -ms-transition: opacity .5s 1.5s;
     -o-transition: opacity .5s 1.5s;
        transition: opacity .5s 1.5s;
}

#showroom.loading #loading {
	opacity: 1;
}

#showroom img {
	position: absolute;
	left: 50%;
	top: 50%;
	opacity: 0;
	-webkit-transition: opacity 1s 1s;
   -moz-transition: opacity 1s 1s;
    -ms-transition: opacity 1s 1s;
     -o-transition: opacity 1s 1s;
        transition: opacity 1s 1s;

}


#showroom.loaded img {
	opacity: 1;
}




/* CONTACT BLOCK
------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#contact {
	clear: both;
	max-width: 1000px;
	margin: 0 auto;
}

.no-js #contact {
	overflow: hidden;
	left:0;
	top:0;
	background: none;
}

.no-js #contact-text {
	margin-top: 20px;
	margin-left: 50%;
	padding-left: 10px;
}

.no-js #map_canvas {
	width: 50%;
	height: 400px;
	float: left;
	max-width: 500px;
	background: url("images/no-js-map.jpg") center center no-repeat;
	-webkit-background-size: 900px 500px;
	     -o-background-size: 900px 500px;
	        background-size: 900px 500px;
	margin-top: 20px;
}

.no-js.slow-browser #map_canvas {
	background: none;
}

.contact-title {
	line-height: 1.1em;
}

.contact-title .eng {
	font-size: 15px;
  text-transform: uppercase;
}

.contact-title .chn {
	font-size: 25px;
}

.no-js .contact-address {
	margin: 30px 0;
}

.contact-info ul { list-style: none;}

.animator-active #contact-innerwrapper {
	position: relative;
	background: #ffafa7;
	overflow: hidden;
	top: -933px; /*  vertical one */
	top: -824px; /*  vertical two */
	margin-left: -200px;
	margin-top: 0;
	-webkit-transition: margin-left 1s, width 1s 1.1s, height 1s 1.1s;
   -moz-transition: margin-left 1s, width 1s 1.1s, height 1s 1.1s;
    -ms-transition: margin-left 1s, width 1s 1.1s, height 1s 1.1s;
     -o-transition: margin-left 1s, width 1s 1.1s, height 1s 1.1s;
        transition: margin-left 1s, width 1s 1.1s, height 1s 1.1s;
}

.animator-active #contact-innerwrapper.actived {
	margin-left: 100px;
	width: 1000px;
	height: 400px;
	opacity: 1;
}

.animator-active #contact-innerwrapper.active {
	width: 200px;
	height: 130px;
	-webkit-transition: margin-left 1s, width .1s, height .1s, opacity 0s 1s;
   -moz-transition: margin-left 1s, width .1s, height .1s, opacity 0s 1s;
    -ms-transition: margin-left 1s, width .1s, height .1s, opacity 0s 1s;
     -o-transition: margin-left 1s, width .1s, height .1s, opacity 0s 1s;
        transition: margin-left 1s, width .1s, height .1s, opacity 0s 1s;
}

.animator-active #contact-innerwrapper.unactive {
	opacity: 0
}

.animator-active #contact-innerwrapper #contact-text,
.animator-active #contact-innerwrapper h2,
.animator-active #map_canvas {
	opacity: 1;
	-webkit-transition: opacity 1s 2s;
   -moz-transition: opacity 1s 2s;
    -ms-transition: opacity 1s 2s;
     -o-transition: opacity 1s 2s;
        transition: opacity 1s 2s;
}

.animator-active #contact-innerwrapper.active #contact-text,
.animator-active #contact-innerwrapper.active h2,
.animator-active #contact-innerwrapper.active #map_canvas {
	-webkit-transition: opacity .5s ;
   -moz-transition: opacity .5s ;
    -ms-transition: opacity .5s ;
     -o-transition: opacity .5s ;
        transition: opacity .5s ;
	opacity: 0;
}

.animator-active #map_canvas {
  width: 990px;
  height: 400px;
  position: absolute;
  right: 0;
  top: 0;

}

.animator-active #contact h2,
.animator-active .contact-info,
.animator-active .contact-title,
.animator-active .contact-address {
	position: absolute;
	left: 30px;
}


.animator-active #contact h2 {
	text-align: left;
	top: 30px;
	left: 30px;
	z-index: 1;
}

.animator-active #contact a {
	color: #ffa7c2;
}

.animator-active .contact-info {
	top: 100px;
}

.animator-active .contact-title {
	bottom: 100px;
}

.animator-active .contact-title span {
	line-height: 1.4em;
}

.animator-active .contact-address {
	bottom: 30px;
}

.animator-active #contact h2,
.animator-active .contact-info li span,
.animator-active .contact-title span,
.animator-active .contact-address span {
	background: rgba(0, 0, 0, .8);
	padding: 2px;
	color: #fff;
}

/* FOOTER
------------------------------------------------------------------------------------------------------------------------------------------------------------*/


footer {
	text-align: center;
	font-size: 10px;
	margin: 100px 0 20px;
}

.animator-active footer {
	position: fixed;
	right: 20px;
	bottom: 20px;
	font-size: 12px;
	margin: 0;
	text-align: left;
	color: #555;
	z-index: 3;
}

.fb-like {
  height: 20px;
  overflow: hidden;
}

#debug {
	position: fixed;
	left: 0;
	top: 0;
	border: 1px solid #eee;
	background: rgba( 255, 255, 255, 0.5);
	color: #333;
	padding: 5px;
	z-index: 100;
	width: 100px;
	line-height: 20px;
	text-align: center;
	display: none;
}

.freeze {
	/*border: 1px dotted red;*/
}

.parameters {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 1px dotted red;
	color: rgba( 255, 0, 0, 0.8 );
	padding: 5px;
	font-size: 12px;
	text-align: left;
	z-index: 4;
}

#temp-div {
	opacity: 0;
}

#temp-div span {
	display: inline-block;
}
